.matchingFrame {
    --pink: #fd65b7;
    --gap: 1.6rem;
}
.match-title{
    font-family: 'DynaPuff', sans-serif;
}

.matchingFrame .heart-container .icon.pop-up {
    fill: var(--pink);
    position: absolute;
}
.matchingFrame .heart-container .icon.pop-up .heart-secondary {
    overflow: visible;
    width: 100%;
    display: flex;
    height: 100%;
}
.matchingFrame .heart-container .icon.pop-up .heart-secondary path {
    width: 100%;
    opacity: 0;
    transform: scale(1) translate(-5%, -5%);
}
.matchingFrame .heart-container .icon.left {
    transform: translate(1rem, 0.5rem);
}
.matchingFrame .heart-container .icon.left .heart-main {
    transform: rotate(-15deg);
}
.matchingFrame .heart-container .icon.right {
    transform: translateX(-2rem);
}
.matchingFrame .heart-container .icon.right.changing path {
    animation: stroke-animation 2s ease-in-out forwards;
}
.matchingFrame .heart-container .icon.right .heart-main {
    transform: rotate(15deg);
}
.matchingFrame .heart-container .icon .heart-main {
    overflow: visible;
    width: 100%;
    display: flex;
    height: 100%;
}
.matchingFrame .heart-container .icon .heart-main path {
    opacity: 0.5;
    width: 100%;
    transform: scale(3);
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    animation: stroke-animation 2s ease-in-out forwards;
}

.little-heart {
    fill: #fd79af;
    position: absolute;
    animation: heart-shake 2s ease-in;
}
@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
   }
    30% {
        stroke-dashoffset: 1550;
   }
    60% {
        stroke-dashoffset: 3100;
        transform: scale(3);
        opacity: 0.8;
   }
    90% {
        transform: scale(3.1);
   }
    100% {
        stroke-dashoffset: 3100;
        transform: scale(3);
        opacity: 1;
   }
}
@keyframes heart-shake {
    0% {
        transform: rotate(-30deg) translateY(6px);
   }
    30% {
        transform: rotate(30deg) translateY(-6px);
   }
    60% {
        transform: rotate(10deg) translateY(3px);
   }
    90% {
        transform: rotate(-15deg) translateY(-6px);
   }
    100% {
        transform: rotate(15deg) translateY(6px);
   }
} 